body{
    background-color: rgb(170, 74, 74);
    margin: 0;
    padding: 0;
}

h1{
    color:rgb(2, 24, 43);
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px rgb(73, 40, 95);
}

input{
    text-transform:lowercase;
}
h2{
    color: rgb(26, 22, 18);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px rgb(228, 218, 199);
}
